.App {
  text-align: center;
  background-color: purple;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Margin {
  margin: 20px;
}

.Flex {
  display: flex;
}

.FlexColumn {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 55px;
  color: white;
  font-style: bold;
}

.titles {
  font-size: 30px;
  color: white;
}
